%html 
  %body
    .side-bar
      .side-bar__user-name
        .side-bar__user-name--nickname
          .side-bar__user-name--nickname--name 三葉
          
          .side-bar__user-name--nickname--icons 
            = link_to "#", class: "contents__btn" do
              = icon('fa','edit',class:"icon")
            = link_to "#", class: "contents__btn" do
              = icon('fa','cog',class: "icon")
              

          


      .side-bar__group-list
        .side-bar__group-list--main
          .side-bar__group-list--main-groupname 前前前世
          
          .side-bar__group-list--main-message 入れ替わってる！？
        
        .side-bar__group-list--main
          .side-bar__group-list--main-groupname 前前前世
          
          .side-bar__group-list--main-message 入れ替わってる！？
        
        .side-bar__group-list--main
          .side-bar__group-list--main-groupname 前前前世
          
          .side-bar__group-list--main-message 入れ替わってる！？
      
          
        
